@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    este es el del customers    
*@
<h1> @Model.Name </h1>

<ul>
    <li>
        Membership Type : @Model.MembershipType.Name
    </li>
    @if(Model.Birthdate.HasValue)
    {
        <li>
            BirthDate : @Model.Birthdate.Value.ToShortDateString()
        </li>
    }
    
</ul>
