@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-size:5em">Customers</h1>

@if(!Model.Any())
{
    <textarea>No hay ninguna persona registrada</textarea>
}
else
{
    <table class="table table­‐bordered table­‐hover">
        <thead>
            <tr>
                <th scope="col">Customers</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <th scope="row">@Html.ActionLink("John Smith", "Details", new { id = 1 }, null)</th>

            </tr>
            <tr>
                <th scope="row">@Html.ActionLink("Mary Williams", "Details", new { id = 2 }, null)</th>
            </tr>
        </tbody>
    </table>
}

    


    

