@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
    este es de movie    
*@
<h1> HANGOVER</h1>
<ul>
    <li>
        Genre: @Model.Genre
    </li>
    <li>
        Release Date: @Model.ReleaseDate
    </li>
    <li>
        Data Added: @Model.DateAdded
    </li>
    <li>
        Number in Stock: @Model.NumberInStock
    </li>
</ul>





