@model Vidly.ViewModels.MovieViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-size:5em">Movies</h1>


    <table class="table table­‐bordered table­‐hover">
        <thead>
            <tr>
                <th scope="col">Movies</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
                        <th id="shrek" scope="row">@Html.ActionLink("Shrek", "Details", new { id = 1 })</th>
                


            </tr>
            <tr>
                
                        <th class="wall-e" scope="row">@Html.ActionLink("Wall-e", "Details", new { id = 2 })</th>
                


            </tr>
        </tbody>
    </table>
