
<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-column justify-content-end" style="font-size:2em;border-bottom-width:10px">
    <div class="container-fluid ">

        @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" , @Style ="Font-size:2em;color:gray;" })

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item mx-3">
                    <a class="nav-link " >@Html.ActionLink("Customers", "Index", "Customers",new { area = "" }, new { @style = "Color:gray ; text-decoration:none" } )</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link " href="/Movies">@Html.ActionLink("Movies", "Index", "Movies", new { area = "" }, new {@style="Color:gray;text-decoration:none;" } )</a>

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>
